<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GPXParser | OpenSource GPX format JavaScript parser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet"	href=" https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css ">
	<!--script src="./GPXParser.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

		var gpx_xml = "";

		function load_tracker() {
			$("#tracks-table-body tr#tracks_row").remove();
			fetch('/tracker?is_connected&is_tracking&is_running&list_files', {
				method: 'GET',
				headers: {
				'Content-Type': 'application/json'
				}
			})
			.then(res => res.json())
			.then(d => {
				if (d.connected) {
					$("#connection_status").removeClass("bg-danger").addClass("bg-success");
				} else {
					$("#connection_status").removeClass("bg-success").addClass("bg-danger");
				}
				if (d.tracking) {
					$("#tracking_status").removeClass("bg-danger").addClass("bg-success");
					$("#current_track").text(d.current_track);
				} else {
					$("#tracking_status").removeClass("bg-success").addClass("bg-danger");
					$("#current_track").text("");
					$("#telemetry").text("");
				}
				if (d.running) {
					$("#pause").removeClass("text-danger").addClass("text-success").text("PAUSE");
				} else {
					$("#pause").removeClass("text-success").addClass("text-danger").text("RESUME");
				}
				if (d.files) {
					table = $("#tracks-table-body");
					d.files.sort().forEach(function(file,index) {
						var row = $('<tr id="tracks_row"></tr>');
						row.append($(`<td name="col"><button class="btn btn-action-1 mx-xxl-1 rounded-pill bg-primary text-light" onclick="load_track()">Load</button></td>`));
						row.append($('<td id="file" name="col"></td>').text(file));
						row.append($('<td name="col"><button class="btn btn-action-1 mx-xxl-1 rounded-pill bg-primary text-light" onclick="delete_file()">Delete</button></td>'));
						table.append(row);
					})
				}
			})

		}

		function delete_file() {
			var row = $(event.srcElement).parent().parent();
			var file = row.find("#file").text();
			var answer = confirm(`Do you really want to delete ${file}?`);
			if (answer) {
				fetch('/tracker?command=delete_gpx&filename=' + file, {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json'
					}
				})
				.then(res => res.json())
				.then(d => {
					if (!d.status) {
						alert("Unable to delete")
					}
					row.remove();
					load_tracker();
				})
			}
		}

		function load_track() {
			var file = ($(event.srcElement).parent().parent().find("#file").text());
			fetch('/tracker?get_gpx&filename=' + file, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(res => res.json() )
			.then(d => {
//				console.log(d);
				load_gpx_data(d.gpx_data);
			})
			
		}

		function write_track() {
			fetch('/tracker?command=flush', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(res => res.json())
			.then(d => {
				load_tracker();
			})
		}

		function pause_unpause_tracker() {
			fetch('/tracker?command=pause', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(res => res.json())
			.then(d => {
				load_tracker();
			})
		}

		function save_gpx(filename,gpx) {
			const blob = new Blob([gpx], {type: 'text/xml'});
			if(window.navigator.msSaveOrOpenBlob) {
				window.navigator.msSaveBlob(blob, filename);
			}
			else{
				const elem = window.document.createElement('a');
				elem.href = window.URL.createObjectURL(blob);
				elem.download = filename;        
				document.body.appendChild(elem);
				elem.click();        
				document.body.removeChild(elem);
				window.URL.revokeObjectURL(elem.href)
			}
		}


		function meters2feet(d) {
			return(d*3.28084);
		}
		function meters2nm(d) {
			return(d*0.000539957);
		}

		function clear_table() {
			$("tr#seg_row").remove();
		}

		function process_gpx() {
			// setup attributes object
			var attr = [];
			$("tr#seg_row").each(function () {
				if ($(this).find(".seg_sel").prop("checked")) {
					attr.push({	'name': $(this).find("#depart").text() + "-" + $(this).find("#arrive").text(),
												'description': $(this).find("#description").val() });
				}
				else {
					attr.push({});
				}
			});
			show_spinner();
			fetch('/process', {
				method: 'POST',
				body: JSON.stringify({ 'gpx': gpx_xml, 'attributes': attr }),
				headers: {
				'Content-Type': 'application/json'
				}
			})
			.then(res => res.json())
			.then(d => {
				hide_spinner();
				save_gpx("track.gpx",d.gpx);
			})

		}

		function show_spinner() {
			$(".spinner-border").removeClass("collapse");
		}
		function hide_spinner() {
			$(".spinner-border").addClass("collapse");
		}

		function update_airports() {
			fetch('/update_airports', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(res => res.json())
			.then(d => {
				alert(d.msg);
			});
		}

		function load_gpx_data(data) {
			clear_table();
			show_spinner();
			fetch('/load', {
				method: 'POST',
				body: JSON.stringify({ 'gpx': data }),
				headers: {
				'Content-Type': 'application/json'
				}
			})
			.then(res => {
				hide_spinner();
				if (!res.ok) {
					hide_spinner();
					return({'error': 'Failed to load data'});
				}
				else {	
					return(res.json());
				}
			})	
			.then(d => {
				if ('info' in d) {
					render_segments(d.info);
					gpx_xml = d.xml;
				}
				if ('error' in d) {
					alert(d.error);
				}
			})
		}


		function load_gpx_action() {
			var input = document.getElementById("customFile");
			if (input.files.length <= 0) {
				alert("Error: No file selected");
			}
			else {
				var fr=new FileReader();
				fr.readAsText(input.files[0]);
				fr.onload=function(){
					load_gpx_data(fr.result);
				}
			}
		}

      
		function render_segments(gpx_info) {
			var segments = $("#segments");
			var table = segments.find("#segment-table-body");

			var index = 0;
			gpx_info.forEach(function(segment) {
				var row = $('<tr id="seg_row"></tr>');
				row.append($(`<td name="col"><input class="form-check-input seg_sel" type="checkbox" id="check${index}" name="option${index}" value="true" checked></td>`));
				row.append($('<td name="col"></td>').text(segment.time));
				row.append($('<td name="col" id="depart"></td>').text(segment.depart));
				row.append($('<td name="col" id="arrive"></td>').text(segment.arrive));
				row.append($('<td name="col"></td>').text(segment.distance));
				row.append($('<td name="col"></td>').text(segment.duration));
				row.append($('<td name="col"></td>').text(segment.max_alt));
				var text = $(`<textarea class="form-control" id="description" name="description" rows="3" cols="80"></textarea>`).text(segment.description);
				row.append($('<td name="col id="seg_desc"></td>').append(text));
				table.append(row);
				index++;
			});
		
		
		}

		// Handle server side events for updating tracker state
		const evtSource = new EventSource("/subscribe");
		evtSource.onmessage = function(event) {
			data_object = JSON.parse(event.data)
			if ("status" in data_object) {
				load_tracker();
			}
			if ("position" in data_object) {
				$("#telemetry").text(`Speed: ${data_object.position.speed}  Track: ${data_object.position.track}`)
			}
		}

		$().ready(load_tracker)
    </script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark border border-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav">
			  <li class="active me-3">
				<h1 class="nav-link">Aviation GPX splitter/analyzer</h1>
			  </li>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<form class="container-fluid justify-content-right">
				<button class="btn btn-sm btn-outline-secondary" type="button" style="float: right;" onclick="update_airports()">Update Airports</button>
			  </form>
		</div>
		<!--div class="container">
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		</div-->
	  </nav>

	<section class="p-5 mb-4 bg-light rounded-3" id="main">
      <div class="container py-4">
		<label class="form-label" for="customFile">GPX file</label>
		<input type="file" class="form-control" id="customFile" />
		<input type="button" class="btn btn-primary btn-lg form-control" id="submit" value="LOAD" onclick="load_gpx_action()" />
      </div>
    </section>
	<section class="p-5 mb-4 bg-light rounded-3" id="main">
		<div class="container py-4" id="segments">
	      	<h1 id="seg_header" class="text-center">GPS segments</h1>
			<div class="d-flex justify-content-center">
				<div class="spinner-border collapse" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<table class="table" id="segment-table">
	  			<thead>
				    <tr>
						<th>Export</th>
						<th>Date</th>
						<th>Origin</th>
						<th>Destination</th>
						<th>Distance</th>
						<th>Time</th>
						<th>Altitude</th>
						<th>Track Description</th>
	    			</tr>
				</thead>
				<tbody id="segment-table-body">
				</tbody>
			</table>
		</div>
		<div class="container py-4">
			<label class="form-label" for="customFile">Export GPX</label>
			<input type="button" class="btn btn-primary btn-lg form-control" id="submit" value="SAVE" onclick="process_gpx()" />
		  </div>
		</section>

		<section class="p-5 mb-4 bg-light rounded-3" id="main">
			<nav class="bg-bg-3 py-4 py-lg-7" sf-type="section" sf-label="Section">
				<div sf-type="container" sf-label="Show on Desktop (>=992px)" class="d-none d-lg-block">
					<div sf-type="container" sf-label="Container" class="container">
						<div class="row justify-content-between align-items-center" sf-type="container" sf-label="Row">
							<div class="col-12" sf-type="container" sf-label="Column">
								<div class="p-4 text-center bg-bg-2 text-dark-1" sf-type="text" sf-label="Text">
									<h1 id="seg_header" class="text-center">Flight Recording</h1>
								</div>
							</div>
							<div class="col-4" sf-type="container" sf-label="Column">
								<button href="#" class="btn btn-action-1 mx-xxl-1 rounded-pill bg-primary text-light" sf-type="btn" sf-label="Button" onclick="load_tracker()">
									Refresh
								</button>
								<button href="#" class="btn btn-action-1 mx-xxl-1 rounded-pill bg-primary text-success" sf-type="btn" sf-label="Button" id="pause" onclick="pause_unpause_tracker()">
									Pause
								</button>
								<button href="#" class="btn btn-action-1 mx-xxl-1 rounded-pill bg-primary text-light" sf-type="btn" sf-label="Button" onclick="write_track()">
									Write
								</button>
							</div>
							<div class="text-end col-4 bg-body" sf-type="container" sf-label="Column">
								<h5 id="current_track"></h5>
								<h5 id="telemetry" class="text-center"></h5>
							</div>
							<div class="text-end col-4 bg-body" sf-type="container" sf-label="Column">
								<label class="bg-success px-xxl-3 py-xxl-2 mx-xxl-2 rounded-pill text-dark" id="tracking_status">
									TRACKING
								</label>
								<label class="bg-success px-xxl-3 py-xxl-2 mx-xxl-2 rounded-pill text-dark" id="connection_status">
									CONNECTED
								</label>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<div class="py-4 justify-content-center" id="tracks">
				<h2 id="seg_header" class="text-center">Captured Tracks</h2>
				<div class="d-flex py-4 justify-content-center" id="tracks">
					<table class="table table-responsive w-auto justify-content-center" id="tracks-table">
					<thead>
					  <tr scope="row">
						  <th scope="col" class="text-center">Load</th>
						  <th scope="col" class="text-center">Track</th>
						  <th scope="col" class="text-center">Delete</th>
					  </tr>
				  </thead>
				  <tbody id="tracks-table-body">
				  </tbody>
				</table>
			</div>
			</div>
		</section>
	</body>
</html>
